.model-create-category {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  animation: forwards 0.5s linear forwards;
}

@keyframes forwards {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.table-category {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.207);
  font-family: Arial, Helvetica, sans-serif;
}
.table-category tr {
  border-top: 0.5px solid rgba(75, 75, 75, 0.181);
  border-bottom: 0.5px solid rgba(75, 75, 75, 0.181);
  text-align: center;
}
.table-category tr:hover {
  background-color: #f5f5f5;
}
.table-category thead {
  background-color: #f5f5f5;
  height: 50px;
}

/* Hiệu ứng fade-in */
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

/* Hiệu ứng trượt từ phải sang trái */
.slide-enter {
  transform: translateX(100%);
  opacity: 0;
}
.slide-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}
.slide-exit {
  transform: translateX(0);
  opacity: 1;
}
.slide-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

/* Hiệu ứng Zoom-In */
.zoom-enter {
  transform: scale(0.9);
  opacity: 0;
}
.zoom-enter-active {
  transform: scale(1);
  opacity: 1;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}
.zoom-exit {
  transform: scale(1);
  opacity: 1;
}
.zoom-exit-active {
  transform: scale(0.9);
  opacity: 0;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

/* Hiệu ứng Slide & Fade */
.slide-fade-enter {
  transform: translateX(50%);
  opacity: 0;
}
.slide-fade-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}
.slide-fade-exit {
  transform: translateX(0);
  opacity: 1;
}
.slide-fade-exit-active {
  transform: translateX(-50%);
  opacity: 0;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

/* Hiệu ứng Flip */
.flip-enter {
  transform: rotateY(-180deg);
  opacity: 0;
}
.flip-enter-active {
  transform: rotateY(0deg);
  opacity: 1;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}
.flip-exit {
  transform: rotateY(0deg);
  opacity: 1;
}
.flip-exit-active {
  transform: rotateY(180deg);
  opacity: 0;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

/* Hiệu ứng Zoom & Fade */
.zoom-fade-enter {
  transform: scale(0.9);
  opacity: 0;
}
.zoom-fade-enter-active {
  transform: scale(1);
  opacity: 1;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}
.zoom-fade-exit {
  transform: scale(1);
  opacity: 1;
}
.zoom-fade-exit-active {
  transform: scale(0.9);
  opacity: 0;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

/* styles.css hoặc tệp CSS của bạn */
.custom-auto-complete .ant-select-selector {
  border-radius: 100px !important; /* Bo tròn đầu của selector */
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table-category td {
  padding: 0px 10px;
}
